MYSQL_DATABASE=study_gather
MYSQL_USER=study_gather
MYSQL_PASSWORD=study_gather_dev_password
MYSQL_ROOT_PASSWORD=root_dev_password

DB_URL="jdbc:mysql://localhost:3307/study_gather?serverTimezone=Asia/Seoul&characterEncoding=UTF-8"
DB_USERNAME=study_gather
DB_PASSWORD=study_gather_dev_password
